body {
    margin: 0;
    font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}

input[type="number"] {
    width: 50px;
    height: 25px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 5px;
    text-align: center;
}

select {
    background-color: rgba(0,0,0,.05);
}

#han {
    font-size: 1rem;
    font-family: Inconsolata, 'Courier New', Courier, monospace;
    height: auto;
    margin: 0 5px;
}
#han+span {
    line-height: 35px;
    margin-right: 5px;
}

.tenpai {
    display: flex;
}

.calc-container, .history-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: visible;
}

.calc-container {
    max-width: 350px;
    min-width: 310px;
}

::-webkit-scrollbar { 
    display: none; 
}

.calc {
    text-align: center;
    width: 98%;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,.2);
    border-radius: 10px;
    margin: 5px;
    flex: 1;
    overflow: hidden;
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    .calc {
        max-width: none;
    }
}
@media only screen and (max-width: 420px) {
    .calc-container, .history-container {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
    .calc {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}

.app-title {
    background: #2979FF;
    margin: 0 0 15px 0;
    padding: 15px 0;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 0 10px;
}
.options.multiplayer span {
    line-height: 35px;
    margin-right: 5px;
}
.options.multiplayer label {
    padding: 8px 5px 8px 0;
    margin: 1px;
}

.hakgong, .game-results {
    width: 100%;
    padding: 10px;
}

.hakgong tr td select {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    margin: 2px 0;
}

.game-results {
    padding-top: 30px;
    font-size: 1.5rem;
}

.game-results tr td {
    border: 1px solid rgba(0,0,0,.3);
}

.game-results tr td:first-child {
    width: 10%;
}
.game-results tr td:nth-child(2) {
    width: 10%;
    font-weight: bold;
}
.score {
    font-family: Inconsolata, 'Courier New', Courier, monospace;
    color: red;
}
.score.win {
    color: green;
}

.options label, .option-link {
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 5px;
    padding: 8px;
    margin: 0 4px;
    white-space: nowrap;
}

.option-link {
    margin: 0 0 0 5px;
    padding: 0 10px;
}

button {
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.3);
    background-color: rgba(0,0,0,.05);
}

button:not(.option-link):not(.amend-btn) {
    border-radius: 10px;
    height: 30px;
    font-size: 1.2rem;
    font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}

#calc-btn {
    font-weight: bold;
    width: 40%;
}

#reset-btn {
    background: none;
    width: 90px;
}

#add-hist-btn {
    width: 100%;
}

.han-container {
    height: 0;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    transition: 0.3s ease-out;
}

.han-container.show {
    height: 250px;
    background-color: rgba(0,0,0,.05);
    padding: 5px 0;
}

.han-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 5px;
    width: 45%;
    padding: 3px;
    margin: 2px;
}

.han-block h1 {
    width: 100%;
    margin: 0;
    font-size: .9rem;
}

.han-block p {
    margin: 0;
    font-size: .8rem;
}

.yakuman {
    width: calc(90% + 12px);
}

.player-select {
    border-radius: 5px;
    margin: 0 4px;
    font-size: 1rem;
    height: 40px;
}