body {
    font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}

input[type="number"] {
    width: 50px;
    height: 25px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 5px;
    text-align: center;
}

#fan {
    font-size: 1rem;
    font-family: Inconsolata, 'Courier New', Courier, monospace;
}

.calc {
    text-align: center;
    max-width: 350px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.hakgong, .game-results {
    width: 100%;
    padding: 10px;
}

.hakgong tr td select {
    width: 70px;
    height: 30px;
}

.game-results {
    padding-top: 30px;
    font-size: 1.5rem;
}

.game-results tr td {
    border: 1px solid rgba(0,0,0,.3);
}

.game-results tr td:first-child {
    width: 10%;
}
.game-results tr td:nth-child(2) {
    width: 30%;
    font-weight: bold;
}
.game-results tr td:nth-child(3) {
    font-family: Inconsolata, 'Courier New', Courier, monospace;
}
#winner-score {
    color: green;
}
#chutchung-score, #jong-score, #haan-score {
    color: red;
}

label {
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 5px;
    padding: 8px;
    margin: 0 5px;
    white-space: nowrap;
}

#calc-btn, #reset-btn {
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: rgba(0,0,0,.05);
    height: 30px;
    font-size: 1.2rem;
    font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}

#calc-btn {
    font-weight: bold;
    width: 50%;
}

#reset-btn {
    width: 30%;
}